:root {
  font-family: "Sans comic", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #242424 !important;
  margin: 0 1rem;
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.3em;
  margin: 0;
}

/* Tooltip styles */
.v-tooltip > .v-overlay__content {
  background-color: #2b2b2b !important;
  color: #ffffff;
  border: 1px solid #f1f1f1 !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 22.5rem !important;
  width: fit-content !important;
  padding: 2rem !important;
  color: #ffffff !important;
  padding: 1rem !important;
}

.text-red {
  color: red;
}

.v-btn {
  background-color: #2b2b2b !important;
  text-transform: none !important;
  box-shadow: none !important;
  &:disabled {
    pointer-events: auto !important;
    cursor: auto;
  }
}

/* Overlay style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  display: flex;
  align-self: flex-start;
}

@media screen and (min-width: 1200px) {
  html,
  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    overflow-y: auto !important;
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.1em;
  }
  span {
    font-size: 0.85em;
  }
}
